<h1><%= @restaurant.name.capitalize %></h1>
<p><%= @restaurant.category %></p>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %>
  <%= ("*" * review.rating ) %> Stars</li>


  <% end %>
</ul>
<%= link_to "Add a review", new_restaurant_review_path(@restaurant) %>
<%= link_to "Go Back", restaurants_path %>
